.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: dodgerblue;
  color: white;
  width: 200px;
  margin: 200px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}